# postgres
POSTGRES_USER=user
POSTGRES_PASS=strongPassword123!@#
POSTGRES_DBNAME=SampleDB

# api_django
SETTINGS_ENV=LOCAL # Choices are: LOCAL, PRODUCTION
SERVER_IP=127.0.0.1
DEBUG=False
SECRET_KEY=django-insecure-aasdfl;kkdsfjp8e$o@$#%2hlasdfskajs^gf0^*g0KJh!asdf
ALLOWED_HOSTS="https://keshavarzi.ir , https://127.0.0.1:8080"
ALLOWED_ORIGIN="http://keshavarzi.ir , http:127.0.0.1:8000"
DB_SCHEMA=public
DB_HOST=postgis
DB_PORT=5432
RABBITMQ_USER=user
RABBITMQ_PASS=pass

# geoserver
GEOSERVER_ADMIN_USER=sedreh
GEOSERVER_ADMIN_PASSWORD=ABcd1234!@
